/* src/App.css */
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-board {
  margin-right: 20px;
}

.board-row {
  display: flex;
}

.square {
  width: 34px;
  height: 34px;
  background: #fff;
  border: 1px solid #999;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  text-align: center;
  cursor: pointer;
}

.square:focus {
  outline: none;
}

.game-info {
  margin-left: 20px;
}
